################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Dd]ebug/
[Bb]in/
[Oo]bj/
net8.0/
.vs/